div#header {
    width: 100%;
    height:10%;
    background-color:rgba(0, 0, 0, 0.821);
}
#smallLogoContainer, #smallNameContainer, #logoutBtnContainer{
    display: inline-block;
}
#smallNameContainer {
    height: 64px;
    width:200px;

}
h5#smallName{
    position:absolute;
    top:0px;
    font-size: 2rem;
    margin-top: 1.5rem;
    color:white
    
}
div#smallLogoContainer {
    margin-left: 5%;
}
img#smallLogo {
    top: 0;
}
div#logoutBtnContainer{
    position:absolute;
    width:fit-content;
    height: 4.5rem;
    top:1.5rem;
    right:5%;
}

div#sideNavBar{
    display:flex;
    position: absolute;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(8, 0, 255, 0.784) 0%,rgba(0, 0, 255, 0.522) 45%, rgba(97, 1, 252, 0.374) 75%,rgba(97, 1, 252, 0.256) 95%) ;
    height: 93%;
    max-height: 93%;
    width: 20%;
}

div#calendarContainer{
    position: absolute;
    left: 20%;
    height: 90%;
    max-height: 90%;
    overflow: auto;
    width:80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.userCalendarContainer {
    width: 90%;
    position: absolute;
    top: 20px;
}



h2#welcomeGreeting {
    font-size: 2rem;
    text-align: center;
    text-overflow: ellipsis;
}

div#sideWelcomeUser {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

}
div#sideWelcomeUser>img {
    padding-top: 40px;
}
div#sideWelcomeUser>h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color:white;
}

h3.sideBarCat {
    font-size: 1.5rem;
    font-weight: 600;
    color:white;
    position:flex;
    margin-left: 15%;
}
hr.underline{
    width: 70%
}
div.userTags{
    flex-direction: column;
    text-align: left;
    margin-left: 5%;
    color: white;
}
div.userGroups{
    flex-direction: column;
    text-align: left;
    margin-left: 18%;
    color: white; 
}


.checkBox{
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 5px;
}
input.checkBoxInput, .groupList {
    cursor: pointer
}

/* FIXME: NEED CSS FOR THE GROUP CHECKBOX */
